<% include ../partials/header %>
<head>
    <link rel="stylesheet" href="/stylesheets/listings.css">
</head>
<div class="container">
<h1 class="ethHead">Buy Ethereum</h1>
<br>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% ethListings.forEach(function(ethListing){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" id="listings">
                <div class="caption">
                    <h4 class="listPrice">$<%= ethListing.price %> per ETH</h4>
                </div>
                <h6><%= ethListing.author.username %></h6>
                <p>
                    <a href="/listings/eth/<%= ethListing._id %>" class="btn btn-primary" id="ethButton">More info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
</div>

<% include ../partials/footer %>