<% include ../partials/header %>

<h1>Ethereum Sell Listings</h1>
<br>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% ethSells.forEach(function(ethSell){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" id="complayout">
                <div class="caption">
                    <h4><%= ethSell.title %></h4>
                </div>
                <h6><%= ethSell.price %></h6>
                <p>
                    <a href="/listings/ethSell/<%= ethSell._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
</div>

<% include ../partials/footer %>