<% include ../partials/header %>

<head>
	<link rel="stylesheet" href="/stylesheets/loginreg.css">
</head>

<div class="container">
    <div class="jumbotron">
        <h1 id="heading">Coinslist</h1>
        <br>
        <h3 class="heading">Create a new Litecoin listing</h3>
    </div>
</div>

<div>
    <div class="row">
        <div style="width: 30%; margin: 30px auto;">
            <form action="/listings/ltc" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price Per Litecoin" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/listings/ltc">Go back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>