<% include ../partials/header %>
<head>
    <link rel="stylesheet" href="/stylesheets/listings.css">
</head>
<div class="container">
<h1 class="xrpHead">Buy Ripple</h1>
<br>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% xrpListings.forEach(function(xrpListing){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" id="listings">
                <div class="caption">
                    <h4 class="listPrice">$<%= xrpListing.price %></h4>
                </div>
                <h6><%= xrpListing.author.username %></h6>
                <p>
                    <a href="/listings/xrp/<%= xrpListing._id %>" class="btn btn-primary" id="xrpButton">More info</a>
                </p>
            </div>
        </div>
    <% }); %>
</div>
</div>

<% include ../partials/footer %>